@import 'tailwindcss';

@theme {
    --font-poppins: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chat-messages {
    scrollbar-width: none;
    flex: 1;
    max-height: 60dvh;
    -ms-overflow-style: none;
}
